.singlePost {
    flex: 9;
    &_Wrapper {
        padding: 20px;
        margin-right: 0;

        .singlePost_Image {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }
        .singlePost_Title {
            text-align: center;
            margin: 10px;
            font-family: "Lora", serif;
            font-size: 28px;

            .singlePost_Edit {
                float: right;
                font-size: 16px;
                .singlePost_Icons {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
        .singlePost_Info {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            color: #ba9656;
            font-family: "Varela Round", sans-serif;
        }

        .singlePost_Description {
            color: #666;
            font-size: 18px;
            line-height: 25px;
            &::first-letter {
                margin-left: 20px;
                font-size: 30px;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}
